<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Country Detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/country_detail.css') }}"/>
</head>
<body>
    <div id="myModal" class="modal container-fluid">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>{{ country.name.official }}</h2>
            <img src="{{ country.flags.png }}" alt="Flag" width="200">
            <p>Capital: {{ capital }}</p>
            <p>Alternative Name: {{ country.altSpellings|join(', ') }}</p>
            <p>Area: {{ country.area }} km²</p>
            <p>Population: {{ country.population }}</p>
            <p>Continents: {{ country.region }}</p>
            <p>Languages: {{ country.languages|join(', ') }}</p>
            <!-- Add any additional information here -->
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/country_detail.js') }}"></script>
</body>
</html>